/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Cambié height a min-height para evitar problemas con contenido más grande que la pantalla */
    background-color: #f0f6ff;
}

.container {
    width: 90%; /* Cambié el porcentaje para permitir más espacio en pantallas más grandes */
    max-width: 800px;
    padding: 2%; /* Usé un porcentaje para el relleno */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos del formulario */
form {
    display: grid;
    gap: 1em; /* Utilicé un valor más pequeño para el espacio entre elementos */
    background-color: #f8f9fa;
    padding: 1em; /* Utilicé un valor más pequeño para el relleno */
    border-radius: 8px;
}

#abm-form {
    display: grid;
    gap: 1em; /* Utilicé un valor más pequeño para el espacio entre elementos */
    background-color: #f8f9fa;
    padding: 1em; /* Utilicé un valor más pequeño para el relleno */
    border-radius: 8px;
    display: none;
}


.form-group{
    display: grid;
    grid-template-columns: -1fr 1fr;
    gap: 15px;
    align-items: center;
}

.label-group {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.label-group label {
    margin-right: 10px;
}

/* Estilos de los inputs */
#ageInput, #abm-id {
    font-size: -1em;
    height: auto;
    width: auto;
    margin-right: 1em;
}

/* Estilos de los botones */
#calculateBtn, #addBtn, #acceptBtn, #cancelBtn {
    padding: 8px 12px;
    height: 10px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}

/* Estilos de los checkboxes */
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.checkbox-group label {
    margin-top: 0.1%;
    display: flex;
    align-items: center;
}

/* Estilos de la tabla */
.table-container {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
}

th, td {
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

.oculto {
    display: none;
  }